#header {
    line-height: normal;
    height: auto;
    padding: 31px 18px 31px 36px;
    background-color: #1565C0;
    border-bottom: none;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.95);
}

#welcome {
    font-size: 14px;
    margin: auto;
    color: white;
    padding: 8px;
}

#content {
    padding: 0 !important;
}

#content-related {
    flex-grow: 1;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
}

#changelist-filter {
    position: relative !important;
    padding: 12px;
    background-color: transparent !important;
}

#changelist-filter h2 {
    color: #1565C0;
    background-color: transparent;
    font-size: 16px !important;
}

.filtered,
.filtered > div,
.filtered > p,
#changelist-form,
#changelist-form > div,
#changelist-form > p {
    margin: 0 !important;
}

.idc-admin-main-contents {
    display: flex;
    flex-wrap: wrap;
}

#content-related h2 {

}

#content-main {
    flex-grow: 3;
    width: auto !important;
}

.vTextField,
.vURLField,
.vLargeTextField {
    padding: 12px !important;
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#content .module {
    margin: 10px;
    border-radius: 4px;
}

#content .module caption {
    background-color: #1565C0;
    padding: 12px;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
}

#content .module table {
    width: 100%;
}

#content .module td,
#content .module th {
    padding: 12px;
    font-size: 14px;
    width: auto !important;
}

.tools {
    margin: 0 !important;
    width: 100%;
    background-color: #404459;
    display: inline-block;
}

.object-tools {
    float: none;
    width: 100%;
    margin: 0 !important;
    list-style-type: none;
    padding: 0 16px;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.95);
}

.object-tools li {
    height: auto;
}

.object-tools li a:link,
.object-tools li a:visited {
    background: none;
    padding: 12px;
}

#login-form {
    padding: 20px;
}

#login-form input {
    width: 100%;
}

#login-form label {
    font-size: 14px;
    font-weight: bold;
    color: #2b669a;
}

#login-form .submit-row {
    padding: 32px 0 0 0;
    text-align: center;
}

#login-form .submit-row input {
    background-color: #2b669a;
    width: 80%;
    margin: auto;
}

#content {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

#content > h1 {
    font-size: large;
    text-transform: uppercase;
    padding: 16px 16px 16px 36px;
    color: #ffffff;
    background-color: #404459;
    margin: 0 !important;
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.95);
}

.breadcrumbs {
    background-color: #313443 !important;
}

.messagelist li {
    margin: 0 !important;
}

.admin-header-button {
    box-shadow: none;
    border: none !important;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
}

#branding #site-name a {
    font-size: 22px;
    color: #ffffff !important;
}

.idc-admin-container {

}

.admin-categories {
    padding-left: 8px;
}

.admin-categories li {
    list-style-type: none;
}

.select2-selection__choice {
    background-color: #204d74 !important;
    border: none !important;
    color: #ffffff !important;
    padding: 8px 12px !important;
    list-style-type: none;
    font-size: 16px;
}

.select2-selection__choice__remove {
    padding: 0 6px 0 0;
    font-size: 16px;
    color: #ffffff !important;
}

.admin-input-title {
    font-size: 18px !important;
    font-weight: bold;
    color: #2b669a !important;
    padding: 8px;
}

.admin-input {
    padding: 12px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.admin-title {
    font-size: 28px;
}

.admin-excerpt {
    font-size: 20px;
}

.admin-submit-button {
    background-color: #1565C0 !important;
    text-transform: uppercase;
}