.idc-left-blog-sidebar {
    border-right: 2px solid #BDBDBD;
    padding: 0;
}

.idc-top-blog {
    padding: 0;
}

.idc-top-blog-content {
    padding: 16px;
}

.idc-blogs-grid {
    margin: 0;
    border-bottom: 2px solid #BDBDBD;
    width: 100%;
}

.idc-blogs-container hr {
    padding: 0;
    margin: 0;
}

.idc-blogs-container {
    background-color: #ffffff;
    padding: 12px;
}

.idc-blogs-title a {
    color: #000000;
}

.idc-blogs-title {
    font-size: 21px;
    padding: 4px;
    font-weight: 400;
}

.idc-blogs-created {
    color: #989898;
    font-size: 12px;
    padding: 0px 0px 4px 4px;
}

.idc-blogs-author {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    padding: 8px
}

.idc-blogs-content {
    font-size: 14px;
    padding: 4px;
    font-style: italic;
    color: #999999;
    text-align: justify;
}

.idc-blogs-content,
.idc-blogs-content h1,
.idc-blogs-content h2 {
    font-size: 16px;
}

.idc-blogs-content h3,
.idc-blogs-content h4,
.idc-blogs-content h5 {
    font-size: 15px;
}

.idc-blogs-author-image-container img {
    width: 48px !important;
    height: 48px !important;
    border-radius: 24px;
}

.idc-blogs-author-details-container {
    padding: 4px 8px;
}

.idc-blogs-author-details-container .nickname a {
    color: #F50057;
    font-size: 16px;
    font-weight: 200;
}

.idc-blogs-author-details-container .name {
    color: #898989;
    font-size: 14px;
    font-weight: 200;
}

.idc-blogs-tags {
    padding: 4px;
}

.idc-blogs-tags span {
    color: #ED5A8E;
    padding: 4px;
    font-size: 16px;
}

@media (max-width: 992px) {
    .idc-left-blog-sidebar {
        border-right: none;
    }

    .idc-blogs-grid {
        border-bottom: none;
        border-top: 2px solid #BDBDBD;
        width: 50%;
    }

    .idc-blogs-grid {
        margin: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .idc-blogs-grid {
        width: 100%;
    }
}