<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <div class="title">
        {{ post.title }}
    </div>
    <div class="author">
        {{ post.author }}
    </div>
    <div class="information">
        Mujhe nhi pata
    </div>
    <div class="content">
        {{ post.content|safe }}
    </div>
    <div class="comments">
        <div class="comment"></div>
        <div class="add-comment"></div>
    </div>
</div>
</body>
</html>