{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify staticfiles mptt_tags %}

{% block branding %}
    <a href="{% url 'admin:index' %}">
        <img class="idc-navbar-logo" alt="Brand" src="{% static 'images/idc-logo.png' %}">
    </a>
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools">
            <span id="welcome">
                {% block welcome-msg %}
                    {% trans 'Welcome,' %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>
                {% endblock %}
            </span>
            {% block userlinks %}
                {% if user.has_usable_password and user.is_staff %}
                    <a class="admin-header-button"
                       href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                {% endif %}
                <a class="admin-header-button" href="{% url 'admin:logout' %}">{% trans 'Logout' %}</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block extrastyle %}
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin.css' %}"/>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% block object-tools %}
        {% if change %}
            {% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}" class="">{% trans "History" %}</a>
                        </li>
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}
        {% endif %}
    {% endblock %}

    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">

                    <div class="idc-admin-container col-xs-12 col-md-9">
                        <div class="admin-input-title">Title</div>
                        <input name="title" class="admin-input admin-title" id="title" placeholder="Add a Title"
                               value="{{ original.title }}"/>
                        <hr>
                        <div class="admin-input-title">Blog</div>
                        <div>
                            {{ adminform.form.content }}
                        </div>
                        <hr>
                        <div class="admin-input-title">Custom Excerpt</div>
                    <textarea name="excerpt" class="admin-input admin-excerpt" rows="3" maxlength="500"
                              class="form-control"
                              placeholder="Custom excerpt for the post">{{ original.excerpt }}</textarea>
                    </div>
                    <div class="idc-main-sidebar col-xs-12 col-md-3">
                        <select class="form-control" name="status">
                            {% for key, value in status_options.items %}
                                {% if key == original.status %}
                                    <option value="{{ key }}" selected>{{ value }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="panel-group text-capitalize" id="accordion" role="tablist"
                             aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            Post status
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">


                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Categories
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">

                                        <ul class="list-unstyled">
                                            {% recursetree categories %}
                                                <li>
                                                    <input type="checkbox" name="categories"
                                                           {% if node in original.categories.all %}checked{% endif %}
                                                           value="{{ node.id }}">
                                                    {{ node.name }}
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="children">
                                                            {{ children }}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endrecursetree %}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Tags
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        {{ adminform.form.tags }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-danger admin-submit-button" value="Save" id="save_post"/>
                    </div>
                </div>
            </div>
        </form>
    </div>


    {% block admin_change_form_document_ready %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $("#save_post").click(function () {

                        var categories_values = $("input[name='categories']:checked").map(function () {
                            var int_val = parseInt(this.value);
                            if (!isNaN(int_val)) {
                                return int_val;
                            }
                        }).get();

                        var tags = $("select[name='tags']").val();

                        var title = $("#title").val();

                        var content = $("#id_content").val();


                    });
                });
            })(django.jQuery);
        </script>
    {% endblock %}

{% endblock %}