{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify staticfiles mptt_tags %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    {{ block.super }}
{% endblock %}

{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                    </li>
                    {% if has_absolute_url %}
                        <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">

                    <div class="idc-admin-container col-xs-12 col-md-9">
                        <div class="admin-input-title">Title</div>
                        <input name="title" class="admin-input admin-title" id="title" placeholder="Add a Title"
                               value="{{ original.title }}"/>
                        <hr>
                        <div class="admin-input-title">Blog</div>
                        <div>
                            {{ adminform.form.content }}
                        </div>
                        <hr>
                        <div class="admin-input-title">Custom Excerpt</div>
                    <textarea name="excerpt" class="admin-input admin-excerpt" rows="3" maxlength="500"
                              class="form-control"
                              placeholder="Custom excerpt for the post">{{ original.excerpt }}</textarea>
                    </div>
                    <div class="idc-main-sidebar col-xs-12 col-md-3">

                        <div class="heading admin-input-title">Post Status</div>
                        <select class="form-control" name="status">
                            {% for key, value in status_options.items %}
                                {% if original.status == 2 and key == 3 %}
                                    <option value="{{ key }}" selected>{{ value }}</option>
                                {% elif key == original.status %}
                                    <option value="{{ key }}" selected>{{ value }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <hr/>

                        <input type="submit" class="btn btn-danger admin-submit-button" value="Save" id="save_post"/>
                        <hr/>

                        <div class="heading admin-input-title">Tags</div>
                        <div class="panel-body">
                            {{ adminform.form.tags }}
                        </div>
                        <hr/>

                        <div class="heading admin-input-title">Categories</div>
                        <ul class="list-unstyled admin-categories">
                            {% recursetree categories %}
                                <li>
                                    <input type="checkbox" name="categories"
                                           {% if node in original.categories.all %}checked{% endif %}
                                           value="{{ node.id }}">
                                    {{ node.name }}
                                    {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        </ul>
                        <hr/>
                    </div>
                </div>
            </div>
        </form>
    </div>


    {% block admin_change_form_document_ready %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $("#save_post").click(function () {

                        var categories_values = $("input[name='categories']:checked").map(function () {
                            var int_val = parseInt(this.value);
                            if (!isNaN(int_val)) {
                                return int_val;
                            }
                        }).get();

                        var tags = $("select[name='tags']").val();

                        var title = $("#title").val();

                        var content = $("#id_content").val();


                    });
                });
            })(django.jQuery);
        </script>
    {% endblock %}

{% endblock %}