<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="IDC Blog">
    <meta name="author" content="Bijoy Singh Kochar"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="IDC, IITB, IIT Bombay">

    <title>IDC IIT Bombay</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">

    <meta name="theme-color" content="#dd1338">
    <meta name="msapplication-navbutton-color" content="#dd1338">
    <meta name="apple-mobile-web-app-status-bar-style" content="#dd1338">
</head>



